[submodule "3rd_party/Src/DirectXMath"]
	path = 3rd_party/Src/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "3rd_party/Src/DirectXMesh"]
	path = 3rd_party/Src/DirectXMesh
	url = https://github.com/microsoft/DirectXMesh.git
[submodule "3rd_party/Src/DirectXTex/DirectXTex"]
	path = 3rd_party/Src/DirectXTex/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "3rd_party/Src/GSL"]
	path = 3rd_party/Src/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "3rd_party/Src/OpCoDe/OpCoDe"]
	path = 3rd_party/Src/OpCoDe/OpCoDe
	url = https://github.com/solbjorn/OpCoDe.git
[submodule "3rd_party/Src/Xiph/ogg/ogg"]
	path = 3rd_party/Src/Xiph/ogg/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "3rd_party/Src/Xiph/theora/theora"]
	path = 3rd_party/Src/Xiph/theora/theora
	url = https://gitlab.xiph.org/xiph/theora.git
[submodule "3rd_party/Src/Xiph/vorbis/vorbis-aotuv-lancer"]
	path = 3rd_party/Src/Xiph/vorbis/vorbis-aotuv-lancer
	url = https://github.com/enzo1982/vorbis-aotuv-lancer.git
	branch = aotuv-lancer
[submodule "3rd_party/Src/abseil/abseil-cpp"]
	path = 3rd_party/Src/abseil/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "3rd_party/Src/callme"]
	path = 3rd_party/Src/callme
	url = https://github.com/solbjorn/callme.git
[submodule "3rd_party/Src/imgui/ImGuizmo"]
	path = 3rd_party/Src/imgui/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rd_party/Src/imgui/imgui"]
	path = 3rd_party/Src/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rd_party/Src/imgui/sol2_ImGui_Bindings"]
	path = 3rd_party/Src/imgui/sol2_ImGui_Bindings
	url = https://github.com/mblackman/sol2_ImGui_Bindings.git
[submodule "3rd_party/Src/libsquashfs/squashfs-tools-ng"]
	path = 3rd_party/Src/libsquashfs/squashfs-tools-ng
	url = https://github.com/AgentD/squashfs-tools-ng.git
[submodule "3rd_party/Src/llvm/llvm-project"]
	path = 3rd_party/Src/llvm/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/21.x
[submodule "3rd_party/Src/luajit2/luajit2"]
	path = 3rd_party/Src/luajit2/luajit2
	url = https://github.com/openresty/luajit2.git
[submodule "3rd_party/Src/lz4/lz4"]
	path = 3rd_party/Src/lz4/lz4
	url = https://github.com/lz4/lz4.git
[submodule "3rd_party/Src/mimalloc/mimalloc"]
	path = 3rd_party/Src/mimalloc/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = dev3
[submodule "3rd_party/Src/oneTBB/oneTBB"]
	path = 3rd_party/Src/oneTBB/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "3rd_party/Src/openal-soft/openal-soft"]
	path = 3rd_party/Src/openal-soft/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rd_party/Src/plf_bitsets"]
	path = 3rd_party/Src/plf_bitsets
	url = https://github.com/mattreecebentley/plf_bitsets.git
[submodule "3rd_party/Src/rtti"]
	path = 3rd_party/Src/rtti
	url = https://github.com/solbjorn/rtti.git
[submodule "3rd_party/Src/sol2"]
	path = 3rd_party/Src/sol2
	url = https://github.com/reworks-org/sol2.git
[submodule "3rd_party/Src/tinyxml2/tinyxml2"]
	path = 3rd_party/Src/tinyxml2/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rd_party/Src/tmc/TooManyCooks"]
	path = 3rd_party/Src/tmc/TooManyCooks
	url = https://github.com/tzcnt/TooManyCooks.git
[submodule "3rd_party/Src/tmc/cpputils"]
	path = 3rd_party/Src/tmc/cpputils
	url = https://github.com/tzcnt/cpputils.git
[submodule "3rd_party/Src/tmc/hwloc/hwloc"]
	path = 3rd_party/Src/tmc/hwloc/hwloc
	url = https://github.com/open-mpi/hwloc.git
	branch = v2.x
[submodule "3rd_party/Src/tracy"]
	path = 3rd_party/Src/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "3rd_party/Src/xxHash/xxHash"]
	path = 3rd_party/Src/xxHash/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "3rd_party/Src/zstd/zstd"]
	path = 3rd_party/Src/zstd/zstd
	url = https://github.com/facebook/zstd.git
